body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: lightgrey;
}

.nav {
	padding-left: 50px;
}
.overlay {
	width: 100%;
	height: 100%;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
}

ul {
	list-style-type: none;
}

