* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

.nav {
	padding: 0;
}

.overlay {
	padding-top: 100px;
	background: rgba(0, 0, 0, 0.75);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	overflow: auto;
  z-index: 1000;
}

.button {
	background: none;
	border: 1px solid #fff;
}

.buttonImg {
	height: 15px;
	width: 15px;
}
ul {
	list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover, .bookmark-url:hover, .modal-submit:hover {
  color: #057720;
  cursor: pointer;
}

button, .modal-submit {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  background: none;
  border-radius: 6px;
  box-shadow: none;
  text-shadow: none;
	border: 1px solid black;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.align-right {
    display: inline-block;
    position: absolute;
    right: 4px;
    top: 10px;
}