body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: lightgrey;
}

.nav {
	padding: 0;
}

.overlay {
	padding-top: 100px;
	background: rgba(0, 0, 0, 0.75);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	overflow: auto;
}

.button {
	background: none;
	border: 1px solid gray;
}

.buttonImg {
	height: 15px;
	width: 15px;
}
ul {
	list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #376842;
}