.sidebar {
    padding-left: 5%;
    width: 20%;
    background-color: #f9f9f9;
    float: left;
    /*position: absolute;*/
    height: 1000px;
}

.sidebar-left {
    padding-right: 10%;
        box-shadow: 8px 0px 15px #A9A9A9;
}

.folder-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.folder-menu-list-item {
    padding: 10px;
    border-bottom: 1px solid #000;
    padding-top: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: inline-block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#search {
    margin-top:30px;
    margin-bottom: 30px;
}

li {
    padding-top:20px;
}

.addfolder {
    font-size: 30px;
}