.bookmarkul {
    width: 600 px;
}

.bookmarkli {
    padding-top: 5px;
    padding-bottom: 5px;
}

.bookmarkdiv {
    padding-left: 50px;
    background-color: #fff;
    padding-top: 30px;
    text-align: left;
    width: 75%;
}

.bookmark-title {
    font-size: 20px;
    display: inline;
    margin-right: 5px;
}

.bookmark-notes {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.bookies {
    font-size: 35px;
}

i {
    /*border: 1px solid gray;*/
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4px;
    /*background-color: #f2f2f2;*/
}

.hidden {
    padding-left: 2px;
    color: gray;
    display: none;
}

.bookmarkli:hover {
    background: #f3f3f3;
}

.bookmarkli:hover .hidden {
    display: inline;
}

.hidden:hover {
    color: #057720;
}