a {
    text-decoration: none;
    color: #282828;
    text-align: right;
}

a:hover {
    color: #0df644;
}

.bookmarkul {
    width: 600 px;
}

.bookmarkli {
    height: 25%;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 50%;
}

.bookmarkdiv {
    background-color: #fff;
    padding-top: 30px;
    text-align: left;
}

.bookies {
    padding-left: 48%;
    font-size: 35px;
}