
.App {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.App-logo {
  height: 30px;
  padding: 5px;
}

.App-header {
  background-color: #282828;
  width: 100%;
}

.App-intro {
  font-size: large;
}

div {
  padding: 0;
}

